.cajaLogTit {
    background-color: #f3f5fc;
}
.loguito{
    margin: 1% 30px 5% auto;
    position: relative;
    left: 15%;
    float: left;
    padding: 2px;

}
.titulo {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase; 
    color: #0A3871;  
    
}

body {
        font-family: 'Lexend Deca', sans-serif;
        background-color: #f3f5fc;
 }
    

main {
    margin: auto;
    width: 940px;
    height: 650px;
    padding: 5px;
}

.textoAIngresar {
    width: 70%;
    height: 400px;
    padding: 10px;
    float: left;
    border-radius: 24px;
    margin: auto;
}

.campo-texto {
    float: left;
    margin: 10%;
    width: 70%;
    height: 300px;
    color: #0a3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #f3f5fc;
    text-transform: lowercase;

}
.alerta{
    display: inline;
    margin-left:70px;
}
.informacion p{
    display: inline-block;
    color: #0A3871;
    text-align: center;
    margin:  0 2% 10%;
    
}
.btnEncriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #0A3871;
    color: #f3f5fc;
}
.btnDesencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #d8dfe8;
    color: #0A3871;
}

.mensajeNigun{
    text-align: center;
    font-size: 2em;
}
.btnCopiar{
    padding: 24px;
    width: 50%;
    height: 10%;
    border-radius: 24px;
    margin: 10% 10% 10% 30%;
    background: #d8dfe8;
    color: #0A3871;
    display: none;
}
.textoResultante {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 27%;
    height: 88%;
    padding: 2px;
    border-radius: 24px;
    box-sizing: content-box;
    border: 2px solid #0A3871;
}
.mensaje {
    width: 70%;
    height: 30%;
    padding: 10px;
    border-radius: 24px;
    color: #0A3871;
    margin:  10px 10px 10px 30px;
}
.imagenMuneco {
    opacity: 70%;
    display: inline-block;
    padding: 15px 15px 30px ;
    height: 20%;
    
}







